.container__img{
    display: none;
}

.container__img.active{
    display: block;
    position: relative;
    background-color: #d3d3d3;
}

.title__img{
    position: absolute;
    background-color: #f2f1f1;
}

.container__img img{
    display: block;
    margin: 0 auto;
}



.description__img{
    position: absolute;
    bottom: 0;
    background: rgba(242, 242, 242, .5);
    margin: 0;
}