.container__btn{
    display: flex;
    justify-content: center;
}

.numbers__btn{
    display: inline-block;
}

.btn__refresh{
    position: absolute;
    right: 0;
}

.btn__active{
    background-color: #14ae14;
}

button{
    cursor: pointer;
}